{
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "browser": true
  },
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "semi": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "import/prefer-default-export": "off"
  }
}